  body {
    background-color: grey;
    font-family: Oswald;
    padding: 20px;
  }

.lowUsage {
  color: green;

}

.mediumUsage {
  color: orange;
}

.highUsage {
  color: red;
}

.true {
  color: green;
}

.false {
  color: red;
}

div.left {
  float: left;
  padding: 20px;
  font-size: 24px;
}

div.right {
  float: right;
}

img.thermImg  {
  max-height: 400px;
}

.btn {
  background: #3498db;
  border-radius: 28px;
  text-shadow: 0px 0px 6px #666666;
  color: #52d132;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
}

.btn:hover {
  background: #3cb0fd;
  text-decoration: none;
}

#citytemp {
  font-weight: bold;
  text-transform: capitalize;
}

#temperature {
  font-size: 150px;
  font-weight: bold;
}

#degs {
  vertical-align: super;
  font-size: 100px;
  font-weight: bold;
}
